<footer class="footer"></p>

  <a href="https://twitter.com/intent/tweet?text={{page.title}} {{site.url}}{{page.url}}"
  class="btn btn--twitter"
  onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
  title="Partager sur Twitter">
  <i class="fab fa-fw fa-twitter" aria-hidden="true"></i>
  <span> Twitter</span>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
  class="btn btn--facebook"
  onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
  title="Partager sur Facebook">
  <i class="fab fa-fw fa-facebook" aria-hidden="true"></i>
  <span> Facebook</span>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}"
  class="btn btn--linkedin"
  onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
  title="Partager sur LinkedIn">
  <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
  <span> LinkedIn</span>
  </a>
</footer>
