<div class="body {{#if project}}project{{/if}}">
  {{#if project}}
  <main class="article">
    {{> gallery-main}}
  </main>
  {{> gallery-gallery}}
  {{else}}
  <main class="gallery">
    {{> gallery-gallery}}
  </main>
  {{/if}}
</div>
