<div class="gallery-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="gallery">
    <div class="panels">
      {{> gallery-menu}}
    </div>
  </aside>
</div>
