{{#with page.navigation}}
<div class="gallery-panel-menu is-active" data-panel="menu">
  <nav class="gallery-menu">
    <div class="gallery-list">
{{> gallery-tree navigation=this}}
    </div>
  </nav>
</div>
{{/with}}
