{{#if navigation.length}}


  {{#each navigation}}
  {{#if ./content}}
    {{#if ./url}}
  <div class="gallery-item" data-depth="{{or ../level 0}}">
    <a class="gallery-link" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">
      <div class="gallery-image" data-project="{{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}"><img /></div>
      <h3 class="title" >{{{./content}}}</h3>
    </a>
    <span class="gallery-tags"></span>
  </div>
    {{/if}}
  {{/if}}
  {{> gallery-tree navigation=./items level=(increment ../level)  }}
  {{/each}}
{{/if}}
