<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <span class="navbar-item">Partager sur...</span>
        <a class="navbar-item" href="https://twitter.com/intent/tweet?text={{page.title}} {{site.url}}{{page.url}}"
            class="navbar-item btn--twitter"
            onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Partager sur Twitter">
            <i class="fab fa-fw fa-twitter" aria-hidden="true"></i>
            <span> Twitter</span>
            </a>
        <a class="navbar-item" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
            class="navbar-item btn--facebook"
            onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Partager sur Facebook">
            <i class="fab fa-fw fa-facebook" aria-hidden="true"></i>
            <span> Facebook</span>
            </a>
        <a class="navbar-item" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}"
            class="navbar-item btn--linkedin"
            onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Partager sur LinkedIn">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
            <span> LinkedIn</span>
            </a>
      </div>
    </div>
  </nav>
</header>
