    {{#with style}}
    <link rel="stylesheet" href="{{{../uiRootPath}}}/css/site-{{this}}.css">
    {{/with}}
    {{#unless style}}
    <link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css">
    {{/unless}}
