<aside class="tags sidebar" data-title="{{or page.attributes.tagstitle 'Tags'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="tags-menu" data-tags="{{page.keywords}}"></div>
</aside>
