.gallery-container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  font-size: calc(17 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav);
}

@media screen and (min-width: 769px) {
  main.gallery .gallery-container {
    width: 100%;
  }

  .project .gallery-container {
    width: var(--gallery-width);
  }
}

@media screen and (min-width: 1024px) {
  .gallery-container {
    font-size: calc(15.5 / var(--rem-base) * 1rem);
    flex: none;
    position: static;
    top: 0;
    visibility: visible;
  }
}

.gallery {
  position: relative;
  top: var(--toolbar-height);
  height: var(--gallery-height);
}

.project .gallery {
  background: var(--gallery-background);
}

main.article .gallery {
  background: var(--body-background);
}

@media screen and (min-width: 769px) {
  .gallery {
    box-shadow: 0.5px 0 3px var(--gallery-border-color);
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    top: var(--navbar-height);
    box-shadow: none;
    position: sticky;
    height: var(--gallery-height--desktop);
  }
}

.gallery .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.gallery-panel-menu {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: var(--gallery-panel-height);
}

@media screen and (min-width: 1024px) {
  .gallery-panel-menu {
    height: var(--gallery-panel-height--desktop);
  }
}

.gallery-panel-menu:not(.is-active) .gallery-menu {
  opacity: 0.75;
}

.gallery-panel-menu:not(.is-active)::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gallery-panel-menu,
.gallery-panel-explore .components {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
}

.gallery-panel-menu::-webkit-scrollbar,
.gallery-panel-explore .components::-webkit-scrollbar {
  width: 0.25rem;
}

.gallery-panel-menu::-webkit-scrollbar-thumb,
.gallery-panel-explore .components::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

.gallery-menu {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  padding: 0.5rem 0.75rem;
  line-height: var(--gallery-line-height);
  position: relative;
}

.gallery-menu h3.title {
  color: var(--gallery-heading-font-color);
  font-size: inherit;
  font-weight: var(--body-font-weight-bold);
  margin: 0 0.5em;
  padding: 0.25em 0 0.125em;
}

.gallery-menu a {
  color: inherit;
}

.gallery-list {
  margin: 0 0 0 0.75rem;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.gallery-menu > .gallery-list {
  margin-bottom: 0.5rem;
}

main.gallery .gallery-item {
  background: var(--gallery-item-background);
  width: var(--gallery-item-width);
  height: var(--gallery-item-height);
  margin: calc(var(--gallery-item-width) / 50);
}

.project .gallery-item {
  background: var(--body-background);
  width: var(--gallery-nav-item-width);
  height: var(--gallery-nav-item-height);
  margin: calc(var(--gallery-nav-item-width) / 50);
}

.gallery-item-masked {
  display: none;
}

.gallery-image {
  align-items: center;
  justify-content: center;
  display: flex;
}

main.gallery .gallery-image {
  height: calc(var(--gallery-item-height) * 0.8);
}

.project .gallery-image {
  height: calc(var(--gallery-nav-item-height) * 0.7);
}

.gallery-image img {
  background: var(--body-background);
}

main.gallery .gallery-image img {
  max-height: calc(var(--gallery-item-height) * 0.8);
  max-width: var(--gallery-item-width);
}

.project .gallery-image img {
  max-height: calc(var(--gallery-nav-item-height) * 0.7);
  max-width: var(--gallery-nav-item-width);
}

.gallery-link img {
  background: var(--body-background);
}

main.gallery .gallery-link img {
  max-height: calc(var(--gallery-item-height) * 0.8);
  max-width: var(--gallery-item-width);
}

.project .gallery-link img {
  max-height: calc(var(--gallery-nav-item-height) * 0.7);
  max-width: var(--gallery-nav-item-width);
}

.project .gallery-tags {
  display: none;
}

main.article .gallery-tags {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.gallery-tags span {
  background: var(--body-background);
  border-color: var(--body-background);
  border-width: 1px;
  border-style: solid;
  border-radius: 5rem;
  margin: 0 0.5em;
  padding: calc(var(--gallery-item-width) / 100) calc(var(--gallery-item-width) / 50);
}

.gallery-tags span.tag-selected {
  background: var(--panel-background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gallery-tag-selected-border-color);
}

.gallery-tags span:hover {
  cursor: pointer;
}
