.tags-toc-container {
  position: sticky;
  top: var(--toc-top);
  padding: 0 0 0 1em;
  background-color: var(--color-brown);
  width: var(--nav-width);
  height: calc(var(--gallery-height) - var(--toolbar-height));
}

@media screen and (max-width: 1023px) {
  aside.tags.sidebar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  aside.tags.embedded {
    display: none;
  }
}

.tags-menu {
  color: var(--tags-font-color);
}

.tags.sidebar .tags-menu {
  position: sticky;
  top: var(--tags-top);
}

.tags .tags-menu h3 {
  color: var(--tags-heading-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-weight: var(--body-font-weight-bold);
  line-height: 1.3;
  margin: 0 -0.5px;
  padding-bottom: 0.25rem;
}

.tags.sidebar .tags-menu h3 {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  justify-content: flex-end;
}

.tags .tags-menu p {
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--tags-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags.sidebar .tags-menu p {
  max-height: var(--tags-height);
  overflow-y: auto;
  scrollbar-width: none;
}

.tags .tags-menu p::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: 1024px) {
  .tags .tags-menu h3 {
    font-size: calc(15 / var(--rem-base) * 1rem);
  }

  .tags .tags-menu p {
    font-size: calc(13.5 / var(--rem-base) * 1rem);
  }
}

.project-tags {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.project-tags span {
  white-space: nowrap;
  background: var(--panel-background);
  border-color: var(--panel-background);
  color: var(--color-brown);
  border-width: 1px;
  border-style: solid;
  border-radius: 5rem;
  margin: 0.5em;
  padding: calc(var(--gallery-item-width) / 100) calc(var(--gallery-item-width) / 50);
}

.project-tags span.tag-selected {
  background: var(--color-jet-70);
  color: var(--panel-background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-yellow);
}

.project-tags span:hover {
  cursor: pointer;
}
