<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled' style="gallery"}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  <span id="layout" title="gallery"></span>
{{> header}}
{{> gallery-body project=true }}
{{> footer}}
  </body>
</html>
